{% extends 'base.html' %}
{% load static %}


{% block csslink %}

<link rel="stylesheet" href={% static 'css/payment.css' %}/>

  
{% endblock csslink %}



{% block content %}
  
  
  

    <!-- header section ends -->

  <div class="container" style="  background: url({% static 'images/home-bg.jpg' %});">

    
      <form action="" method="post">

        <div style="text-align: center; color:red; font-size:18px">

        </div>
        {% csrf_token %}
        <div class="row">
          <div class="col" style="margin-top: 2px;">
            <h3 class="title">billing address</h3>

            <div class="inputBox">
              <span>full name :</span>
              {{Form.name}}
            </div>

            <div class="inputBox">
              <span>email :</span>
              {{Form.email}}

            </div>

            <div class="inputBox">
              <span>address :</span>
              {{Form.address}}

            </div>
            
            <div class="inputBox">
              <span>city :</span>
              {{Form.city}}
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>state :</span>
                {{Form.state}}

              </div>
              <div class="inputBox">
                <span>zip code :</span>
                {{Form.zip}}

              </div>
            </div>
          </div>

          <div class="col">
            <h3 class="title">payment</h3>

            <div class="inputBox">
              <span>cards accepted :</span>
              <img src="{% static 'images/card_img.png' %}" alt="" />
            </div>
            

            
            <div class="inputBox">
              <span>Name on Card:</span>
              {{Form.Name_on_card}}

            </div>


            <div class="inputBox">
              <span>Card no</span>
              
             {{Form.Card_no}} 

            </div>

            <div class="inputBox">
              <span>Cvv</span>
              
             {{Form.cvv}} 

            </div>


            <div class="flex">
              <div class="inputBox">
                <span>Exp date:</span>
                {{Form.exp_month}}

              </div>
              <div class="inputBox">
                <span>Exp Year</span>
                {{Form.exp_year}}

              </div>
            </div>

          </div>
        </div>
        
        <input type="submit" value="Make Payment" class="submit-btn" />
      </form>
    </div>


{% endblock content %}

