{% extends 'base.html' %}
{% load static %}
{% block content %}
    

<!-- home section starts -->
<section class="home" id="home" style="background-image:url('{% static 'images/home-bg.jpg' %}');">
    <div class="contents">
      <h3>Fresh Flowers</h3>
      <!-- <span>Natural & Beautiful Flowers</span> -->
      <span>Save upto 40%</span>

      <p>
        All you need is to select a Flower on our site.
        Blush & Bloom will ensure the highest quality and timely delivery to your loved ones.
      </p>
      <a href="#products" class="btn">shop now</a>
    </div>
</section>
  <!-- home section ends -->

  <!-- about section starts -->
  <section class="about" id="about">
    <h1 class="heading"><span>about</span> Us</h1>
    <div class="row">
      <div class="video-container">
        <video src= {% static 'images/about-vid.mp4' %} loop autoplay muted ></video>
        <h3>best flower sellers</h3>
      </div>
      <div class="content">
        <h3>why choose us?</h3>
        <p>
          We provide a marketplace for flowers for growers and buyers. We have proudly been doing this for over 16 years. We bring supply and demand together, for an optimal price and the lowest transaction costs, offer a wide range of services, and work intensively together with new and existing partners in the horticultural sector. 
        </p>
        <p>
          That is how we supply the world with fresh flowers for 365 days. Together we are Growing strong! That is the notion upon which International Flower Auction Bangalore Ltd is based. Growers come together to the same place to sell their products. Together, they are stronger in the face of traders and get a better price for their flowers.
        </p>
        <a href="#" class="btn">learn more</a>
      </div>
    </div>
  </section>
  <!-- about section ends -->

  <!-- icons section sarts -->
  <section class="icons-container">
    <div class="icons">
      <img src={% static '/images/icon-1.png' %} alt="" />
      <div class="info">
        <h3>free delivery</h3>
        <span>on all orders</span>
      </div>
    </div>
    <div class="icons">
      <img src={% static '/images/icon-2.png' %} alt="" />
      <div class="info">
        <h3>10 days returns</h3>
        <span>moneyback guarantee</span>
      </div>
    </div>
    <div class="icons">
      <img src={% static '/images/icon-3.png' %} alt="" />
      <div class="info">
        <h3>offers & gifts</h3>
        <span>on all orders</span>
      </div>
    </div>
    <div class="icons">
      <img src={% static '/images/icon-4.png' %} alt="" />
      <div class="info">
        <h3>secure payments</h3>
        <span>protected by paypal</span>
      </div>
    </div>
  </section>

  <!-- icons section ends -->

  <!-- products section starts  -->
  <section class="products" id="products">
    <h1 class="heading">latest <span>products</span></h1>
    <div class="box-container">
      
      {% for Flower in Flowers %}
      <div class="box">
        
        {% if Flower.label %}
          <span class="discount">{{Flower.get_label_display}}</span>
        {% endif %}
          
        <div class="image">
          <a href="{{Flower.get_absolute_url}}" style="max-width: 85%;"><img src=/media/{{Flower.item_image}} alt="{{Flower.flower_name}}"/></a>
          <div class="icons">
            <a href="{% url 'core:add-to-wishlist' Flower.id %}" class="fas fa-heart"></a>
            <a href="{{Flower.get_add_to_cart_url}}" class="cart-btn">add to cart</a>
            <a href="{{Flower.get_absolute_url}}" class="fas fa-share"></a>
          </div>
        </div>
        <div class="content">
          <h3>{{Flower.flower_name}}</h3>
          <div class="price">{{Flower.discount_price}}<span>{{Flower.price}}</span></div>
        </div>
      </div>
      {% endfor %}
        
    </div>
  </section>

  <!--products section ends  -->

  <!-- review section starts -->
  <section class="review" id="review">
    <h1 class="heading">customer's <span>review</span></h1>
    <div class="box-container">
      <div class="box">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil
          voluptatum, nemo sapiente veritatis possimus odit consequatur magnam
          eos vitae aperiam laborum consectetur veniam quam similique beatae
          et temporibus, omnis suscipit.
        </p>
        <div class="user">
          <img src={% static 'images/pic-1.png' %} alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy customer</span>
          </div>
        </div>
        <span class="fas fa-quote-right"></span>
      </div>

      <div class="box">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil
          voluptatum, nemo sapiente veritatis possimus odit consequatur magnam
          eos vitae aperiam laborum consectetur veniam quam similique beatae
          et temporibus, omnis suscipit.
        </p>
        <div class="user">
          <img src={% static 'images/pic-2.png' %} alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy customer</span>
          </div>
        </div>
        <span class="fas fa-quote-right"></span>
      </div>

      <div class="box">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil
          voluptatum, nemo sapiente veritatis possimus odit consequatur magnam
          eos vitae aperiam laborum consectetur veniam quam similique beatae
          et temporibus, omnis suscipit.
        </p>
        <div class="user">
          <img src={% static 'images/pic-3.png' %} alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy customer</span>
          </div>
        </div>
        <span class="fas fa-quote-right"></span>
      </div>
    </div>
  </section>

  <!-- review section ends -->

  <!-- contact sectio starts -->
  <section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>
    <div class="row">
      <form action="">
        <input type="text" placeholder="name" class="box" />
        <input type="email" placeholder="email" class="box" />
        <input type="tel" placeholder="number" class="box" />
        <textarea
          name=""
          class="box"
          placeholder="message"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <input type="submit" value="send message" class="btn" />
      </form>
      <div class="image">
        <img src={% static '/images/contact-img.svg' %} alt="" />
      </div>
    </div>
  </section>

  <!-- contact section ends -->

    <!-- footer section starts -->
    <footer>
        <section class="footer">
          <div class="box-container">
            <div class="box">
              <h3>quick links</h3>
              <a href="#">home</a>
              <a href="#">about</a>
              <a href="#">products</a>
              <a href="#">review</a>
              <a href="#">contact</a>
            </div>
            <div class="box">
              <h3>extra links</h3>
              <a href="#">my account</a>
              <a href="#">my order</a>
              <a href="#">my favorite</a>
            </div>
            <div class="box">
              <h3>locations</h3>
              <a href="#">india</a>
              <a href="#">USA</a>
              <a href="#">japan</a>
              <a href="#">france</a>
            </div>
            <div class="box">
              <h3>contact info</h3>
              <a href="#">+123-456-7890</a>
              <a href="#">example@gmail.com</a>
              <a href="#">banglore, india -560060</a>
              <img src={% static 'images/payment.png' %} alt="" />
            </div>
          </div>
    
          <div class="credit">all rights reserved&copy;</div>
        </section>
        <!-- footer section ends -->
      </footer>
 
{% endblock %}
