{% extends 'base.html' %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href={% static 'css/login.css' %}/>
{% endblock csslink %}
  

{% block content %}

<!-- Printing alert messages -->
{% if messages %}
{% for message in messages %}
    <div class={{message.tags}} id="messages">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h3>{{message}}</h3>
    </div> 
{% endfor %}
{% endif %}
<!-- end of messages -->
  
    <!-- login -->
    <center>
      <div class="container" style="background-image:url('{% static 'images/home-bg.jpg' %}');">
        <div class="loginheading">
          <h3>L<span>o</span>gin</h3>
        </div>
        <form action="{% url 'Accounts:Login' %}" method="post">
          {% csrf_token %}
          <div class="table">
            <table border="1px">
              <tr>
                <td>
                  <label for="username">Username</label>
                </td>
                <td>
                  <input type="text" name="username" id="username" required />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="password"> Password </label>
                </td>
                <td>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                  />
                </td>
              </tr>
              <tr>
                <td><input type="checkbox"><label style="margin-left: 9px;">Remember me</label></td>
              </tr>
            </table>
          </div>
          <input type="submit" class="btn" value="Login">

          <!-- <a href="#" class="btn"><label>Login</label></a> -->
        </form>
        <div class="noacc">
          <p style="margin-top: 19px;">Don't have an account? <a href="{% url 'Accounts:Signup' %}">Sign Up</a></p>
        </div>
        <div class="socialmedia">
          <h4>Login with social media</h4>
          <div class="icons">
            <a href=""> <i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""> <i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </center>
    
  


{% endblock content %}

