{% extends 'base.html' %}
{% load static %}


{% block csslink %}
<link rel="stylesheet" href={% static 'css/signup.css' %}/>
{% endblock csslink %}
  

{% block content %}


  

    <!-- sign up -->

  <div class="container" style="background-image:url('{% static 'images/home-bg.jpg' %}');">
      <div class="signupheading">
        <!-- Printing alert messages -->

<!-- end of messages -->
        <h3>sign<span>U</span>p</h3>
      </div>
      <center>
          <form id="form1" action="/accounts/signup/" method="post">
            {% csrf_token %}
          <div class="table">
            <table>

              <tr>
                <td>
                  <label for="Name">Username*</label>
                  </td>
                  <td>
                  <input type="text" name="username" id="username" class="box" required />
                </td>
              </tr>
              <!-- row 1 -->
                      <!-- <tr>
                        <td>
                          <label for="MobileNumber">MobileNumber*</label>
                          </td>
                          <td>
                          <input type="text" name="MobileNumber" id="MobileNumber" class="box" pattern="[0-9]{10}" required/>
                        </td>
                      </tr> -->
                    
                      <!-- row2 -->
                      
                      <tr>
                        <td>
                          <label for="FName">First Name*</label>
                          </td>
                          <td>
                          <input type="text" name="FName" id="FName" class="box" required />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="LName">Last Name*</label>
                          </td>
                          <td>
                          <input type="text" name="LName" id="LName" class="box" required />
                        </td>
                      </tr>
                      <!-- row3 -->
                      <tr>
                        <td>
                          <label for="Email Id">Email Id*</label>
                          </td>
                          <td>
                          <input type="Email Id" name="Email_Id" id="Email Id" class="box" required/>
                        </td>
                      </tr>
                      
                      <!-- row4 -->
                      <!-- <tr>
                        <td>
                          <label for="Pincode">Pincode*</label></td>
                          <td>
                          <input type="tel" name="Pincode" id="Pincode" class="box" pattern="[0-9]{6,10}" required/>
                        </td>
                      </tr> -->
                      </tr>
                      <!-- row5 -->
                      <tr>
                        <td>
                          <label for="Password">Password*</label></td>
                          <td>
                          <input type="Password" name="Password" id="Password" class="box" required/>
                        </td>
                      </tr>
                      <!-- row6 -->
                      <tr>
                      <td>
                        <div class="Checkbox">
                        <input type="Checkbox" name="Checkbox" id="Checkbox" class="box" required>
                        <label for="Checkbox">Accept</label>
                        </div>
                      </td>
                      <td>
                        <a href="files/BuyerRegistration_Terms_Conditions.pdf" target="popup" 
                        onclick="window.open('Files/BuyerRegistration_Terms_Conditions.pdf','popup','width=600,height=600'); return false;"
                        style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #556270; font-weight:700 ;"
                        >Terms and Conditions</a>
                      </td>
                      </tr>
            </table>
            <input type="submit" class="btn" value="Signup">
            <!-- <a href="#" type="Submit" class="btn"><label>SignUp</label></a> -->
                <a href="{% url 'core:Home-Page' %}" class="btn"><label>Cancel</label></a>
          </div>
          </form>
                
                  
                  <div class="login">
                    <br>
                    <p>Already a Member?<a href="{% url 'Accounts:Login' %}">Login now</a></p>
                  </div>
            
          </div>
   </center>
    <!-- end of signup -->
{% endblock content %}
   